# History files
.Rhistory

# Example code in package build process
*-Ex.R
.Rproj.user

*.o
*.so
*.oct

RcppOctave/R/config-vars.R

RcppOctave/src/Makevars
RcppOctave/src/symbols.rds
RcppOctave/src/modules/Makefile

RcppOctave/config.log
RcppOctave/config.status

/.project
/pkg.Rproj
/RcppOctave_*.tar.gz
/RcppOctave.Rcheck/
